.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}




.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-wobble infinite 10s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-wobble infinite 10s linear;
    animation-timing-function: ease-in-out;
  }
}

@keyframes App-logo-wobble {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}



/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/


