@font-face {
  font-family: "Prototype";
  src: local("Prototype"), url(./fonts/Prototype.ttf) format("truetype");
}


body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Protype', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
    font-family: "Prototype";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  font-size: 2.5em;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
